@use "../../styles/app.scss";

.header {
  position: absolute;
  width: 100%;
  z-index: 1000;
  top: 0;

  // TODO : A ajuster les padding, voir creer une function
  padding: app.$global-padding-sm;

  @include app.smallScreen() {
    padding: app.$global-padding-md;
  }

  @include app.mediumScreen() {
    padding: app.$global-padding-lg;
  }

  .container {
    color: var(--color-text);
    display: flex;
    justify-content: space-between;
    padding-top: 0.8rem;

    .navBar {
      display: flex;
      gap: 1rem;
      text-shadow: (2px 4px 3px rgb(0 0 0 / 0.85));
    }

    .name {
      margin-right: 1.6rem;
      text-shadow: (2px 4px 3px rgb(0 0 0 / 0.85));
    }
  }
}
