.bg_container {
  z-index: -200;
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  inset: 0;

  .bg {
    color: var(--color-text);
    position: absolute;
    left: -4%;
    top: -4%;
    height: 109%;
    width: 109%;

    img {
      height: 100%;
      width: 100%;
    }
  }
}
