@use "./variables";

@mixin sectionContainer {
  max-width: 75vw;
  margin-left: 1.6rem;
  display: flex;
  flex-direction: column-reverse;

  .titleWrapper {
    align-self: center;
    z-index: 2;
    overflow: hidden;

    .title {
      font-weight: 600;
      //TODO: A ajuster
      font-size: variables.$title-font-size;
      text-shadow: 0 4px 4px rgba(2, 11, 22, 0.8);
    }

    .text,
    .textTwo,
    .textThree,
    .icon {
      // TODO: a ajuster
      color: rgba(var(--color-text-rgb), 0.83);
      // color: #b0b4ba;
      font-size: variables.$icon-font-size;
      margin-top: 0.3rem;
      text-shadow: 0 2px 2px rgba(2, 11, 22, 0.8);
    }
  }
}

////// TODO: Faire le tri //////

@mixin bg-gradient {
  background: linear-gradient(
    61.8deg,
    rgba($color-dark, 1) 0%,
    rgba($color-primary, 1) 33%,
    rgba($color-secondary, 1) 100%
  );
}

@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  } @else {
    @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. '
    + 'Please make sure it is defined in `$grid-breakpoints` map.';
  }
}

@mixin content-width {
  width: min(92%, map_get($container-max-widths, xl));
  // max-width: map_get($container-max-widths, xs);
  padding: 2.8rem 1rem;

  @include breakpoint("lg") {
    width: min(88%, map_get($container-max-widths, xl));
  }
}
