@use "./variables";

//*********** Font Size ***************//
@mixin responsiveFontSizeTitle {
  font-size: 3.6rem;
  @include smallScreen {
    font-size: variables.$fontSizeSmallTitle;
  }
  @include mediumScreen {
    font-size: variables.$fontSizeMediumTitle;
  }
  @include largeScreen {
    font-size: variables.$fontSizeLargeTitle;
  }
  @include extraLargeScreen {
    font-size: variables.$fontSizeExtraLargeTitle;
  }
}

@mixin responsiveFontSizeText {
  font-size: 1.4rem;
  @include smallScreen {
    font-size: variables.$fontSizeSmallText;
  }
  @include mediumScreen {
    font-size: variables.$fontSizeMediumText;
  }
  @include largeScreen {
    font-size: variables.$fontSizeLargeText;
  }
  @include extraLargeScreen {
    font-size: variables.$fontSizeExtraLargeText;
  }
}

//*********** Slide Container ***************//
@mixin sectionContainer {
  max-width: 75vw;
  margin-left: 1.6rem;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 1.6rem;

  @include largeScreen() {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3.6rem;
    width: 75vw;
    margin-top: 0;
    margin-left: 6rem;
  }

  @include extraLargeScreen() {
    max-width: 140rem;
  }

  .titleWrapper {
    z-index: 3;
    overflow: hidden;

    @include largeScreen() {
      flex-basis: 55%;
    }

    .title {
      font-weight: 500;
      //TODO: A ajuster
      @include responsiveFontSizeTitle;
      text-shadow: 0 7px 7px rgba(2, 11, 22, 0.618);

      margin-bottom: 0.4rem;
      @include mediumScreen() {
        margin-bottom: 0.6rem;
      }
      @include largeScreen() {
        margin-bottom: 1.4rem;
      }
    }

    .text,
    .textTwo,
    .textThree,
    .icon {
      color: var(--color-text-muted);
      // TODO: a ajuster
      @include responsiveFontSizeText;
      text-shadow: 0 4px 4px rgba(2, 11, 22, 0.618);

      margin-bottom: 0.2rem;
      @include mediumScreen() {
        margin-bottom: 0.4rem;
      }
      @include largeScreen() {
        margin-bottom: 0.6rem;
      }
    }
  }
}

//*********** Style when a slide becomes the ACTIVE One ***************//

@mixin activeStyle {
  .title {
    animation: slide-in-text-one 0.7s cubic-bezier(0.43, 0.18, 0.45, 1);
    animation-fill-mode: forwards;
  }

  .icon {
    animation: fadeInSpan 0.9s cubic-bezier(0.43, 0.18, 0.45, 1);
    animation-fill-mode: forwards;
  }
  .text {
    animation: slide-in-text-one 0.8s cubic-bezier(0.43, 0.18, 0.45, 1);
    animation-fill-mode: forwards;
  }
  .textTwo {
    animation: slide-in-text-one 0.9s cubic-bezier(0.43, 0.18, 0.45, 1);
    animation-fill-mode: forwards;
  }
  .textThree {
    animation: slide-in-text-one 1s cubic-bezier(0.43, 0.18, 0.45, 1);
    animation-fill-mode: forwards;
  }

  button,
  a {
    animation: slide-in-text-one 1.1s cubic-bezier(0.43, 0.18, 0.45, 1);
    animation-fill-mode: forwards;
  }
}

// BACKGROUND with grid like squares //

@mixin bg-grid {
  content: "";
  position: fixed;
  height: 109%;
  width: 109vw;
  background-repeat: repeat;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  background-image: linear-gradient(currentcolor 1px, transparent 1px),
    linear-gradient(to right, currentcolor 1px, transparent 1px);
  background-size: 94px 90px;
  color: rgba(113, 113, 113, 0.13);
  background-color: transparent;
  z-index: -1;
}

//*********** MEDIA QUERIES ***************//

// 600px
@mixin smallScreen() {
  @media (min-width: 37.5rem) {
    @content;
  }
}

// 900px
@mixin mediumScreen() {
  @media (min-width: 56.25rem) {
    @content;
  }
}

// 1200px
@mixin largeScreen() {
  @media (min-width: 75rem) {
    @content;
  }
}

// 1800px
@mixin extraLargeScreen() {
  @media (min-width: 112.5rem) {
    @content;
  }
}

////// TODO: Faire le tri //////

// @mixin breakpoint($breakpoint) {
//   @if map-has-key($breakpoints, $breakpoint) {
//     @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
//       @content;
//     }
//   } @else {
//     @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. '
//     + 'Please make sure it is defined in `$grid-breakpoints` map.';
//   }
// }

// @mixin content-width {
//   width: min(92%, map_get($container-max-widths, xl));
//   // max-width: map_get($container-max-widths, xs);
//   padding: 2.8rem 1rem;

//   @include breakpoint("lg") {
//     width: min(88%, map_get($container-max-widths, xl));
//   }
// }
