// COLORS // *TODO*

$primary-color: #282c34;
$secondary-color: #61dafb;

// PADDING // *TODO*

$global-padding-sm: 1rem;
$global-padding-md: 2rem;
$global-padding-lg: 3rem;

// FONTS // *TODO*

// FONTS SIZE // *TODO*

$title-font-size: clamp(2.8rem, calc(1.5rem + 2.3vw), 7rem);
// $icon-font-size: 1.4rem;
$icon-font-size: clamp(1.4rem, calc(0.9rem + 1.1vw), 3.2rem);

// KEYFRAMES //

@keyframes slide-in-text-one {
  0% {
    transform: translateX(-110%);
    opacity: 0.318;
  }
  40% {
    transform: translateX(-110%);
    opacity: 0.618;
  }

  90% {
    transform: translateX(0);
    opacity: 1;
    overflow: visible;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }

  90% {
    opacity: var(--opacity);
  }
}

@keyframes fadeInSpan {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }
}
