// COLORS // *TODO*

$primary-color: #282c34;
$secondary-color: #61dafb;

// PADDING // *TODO*

$global-padding-sm: 1rem;
$global-padding-md: 2rem;
$global-padding-lg: 3rem;

// FONTS // *TODO*

// FONTS SIZE // *TODO*
