// COLORS // *TODO*

// PADDING // *TODO*

$global-padding-sm: 1rem;
$global-padding-md: 2rem;
$global-padding-lg: 3rem;

// FONTS // *TODO*

// FONTS SIZE // *TODO*

// $title-font-size: clamp(2.8rem, calc(1.3rem + 3vw), 9rem);
// $icon-font-size: clamp(1.4rem, calc(0.6rem + 0.8vw), 3.2rem);

$fontSizeSmallTitle: 4.4rem;
$fontSizeMediumTitle: 5.6rem;
$fontSizeLargeTitle: 7.2rem;
$fontSizeExtraLargeTitle: 9rem;

$fontSizeSmallText: 1.6rem;
$fontSizeMediumText: 1.8rem;
$fontSizeLargeText: 2.1rem;
$fontSizeExtraLargeText: 2.4rem;

// IMAGE SLIDE IN //

$image-slide-in: scale(0.5) translate(27rem, -3rem);

// KEYFRAMES //

@keyframes slide-in-text-one {
  0% {
    transform: translateX(-120%, 0, 0);
  }
  40% {
    transform: translate3d(-120%, 0, 0);
  }

  90% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }

  90% {
    opacity: var(--opacity);
  }
}

@keyframes fadeInSpan {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }
}
