@use "../../styles/app.scss";

.skillsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  max-width: 50rem;

  @include app.smallScreen() {
    gap: 2.4rem;
  }

  @include app.mediumScreen() {
    gap: 3.6rem;
  }
}

.skillItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 9px 3px rgb(0 0 0 / 0.618));
  transition: 0.16s;

  &:hover,
  &:active {
    filter: drop-shadow(6px 10px 4px rgb(0 0 0 / 0.918));
  }

  & img {
    width: 100%;
    height: auto;
  }
}
