.container {
  position: absolute;
  left: calc(4% + 1.5rem);
  bottom: calc(50% + 10rem);
  transform-origin: center left;
  transform: rotate(90deg);

  .button {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 3rem;
    background-color: rgba(var(--color-secondary-rgb), 0.3);
    border-radius: 1.3rem;
    cursor: pointer;
    transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
    outline: none;
    border: none;
    // test
  }
  .button:hover {
    color: rgba(var(--color-secondary-rgb), 0.9);
    background-color: rgba(var(--color-secondary-rgb), 0.45);
  }

  .button:last-child {
    margin-right: 0;
  }

  .button.active {
    width: 3.9rem;
    cursor: auto;
    background-color: rgba(var(--color-secondary-rgb), 0.45);
  }
}
