@use "../../../../styles/app.scss";

.container {
  display: flex;
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  padding-bottom: 9rem;

  // TODO: Creer un mixin pour gerer les tailles max des pages annexes
  @include app.smallScreen() {
    max-width: 58rem;
  }
  @include app.mediumScreen() {
    max-width: 66rem;
  }
  @include app.largeScreen() {
    max-width: 93rem;
  }

  .section {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: -1.5rem;
    margin-left: -1.5rem;

    .wrapper {
      position: relative;
      width: 100%;
      padding-right: 1.5rem;
      padding-left: 1.5rem;

      .title {
        font-weight: 700;
        //TODO: A ajuster
        font-size: app.$title-font-size;
        text-shadow: 0 7px 7px rgba(2, 11, 22, 0.618);
        margin: 9rem 0 7rem;
      }

      .aboutContainer {
        .smallTitle {
          font-size: 2.8rem;
          font-weight: 500;
          // font-size: clamp(2.4rem, calc(1.3rem + 1vw), 5.2rem);
          margin-bottom: 1.6rem;
        }
        .paragraph {
          font-size: 1.6rem;
          line-height: 1.5;
          color: rgba(var(--color-text-rgb), 0.83);
          // font-size: app.$icon-font-size;
          margin-bottom: 2.8rem;
        }
        .titleContacts {
          color: var(--color-highlight);
          margin-top: 2rem;
          text-shadow: none;
          font-family: var(--font-button), monospace;
          font-size: 2.8rem;
          font-weight: 500;
          margin-bottom: 1.4rem;
          margin-top: 4rem;
        }
        .contacts {
          font-size: 1.6rem;
          line-height: 1.5;
          color: rgba(var(--color-text-rgb), 0.83);
          // font-size: app.$icon-font-size;
        }
      }
    }
  }
}
