@use "../../styles/app.scss";

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;

  .main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
  }

  .backgroundTitle {
    font-weight: 600;
    font-family: Abril FatFace;
    font-size: 14.5vmin;
    bottom: -1rem;
    left: 2rem;
    opacity: 0.02;
    position: fixed;
    color: var(--color-text);
    white-space: pre;
    letter-spacing: -0.6rem;
    z-index: -1;
  }
}
