@use "../../styles/app.scss";

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  .main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    font-family: var(--font-fira);
  }
}

///// ::: MEDIA QUERIES  ::: //////
@media (min-width: 48rem) {
  .layout {
    .main {
      .sections {
        .titleWrapper {
          .icon {
            font-size: 1.8rem;
          }
          .text,
          .textTwo,
          .textThree {
            font-size: 1.8rem;
          }
          .buttonMargin {
            margin-top: 3.5rem;
          }

          .portfolio {
            margin-top: 3.5rem;
          }
        }

        .illustration {
          margin-bottom: 21%;

          img {
            width: 50vw;
            max-height: unset;
            margin-inline: none;
          }
        }
      }

      .skills {
        margin-bottom: 21%;
      }
    }
  }
}

@media (min-width: 64rem) {
  .layout {
    .main {
      .sections {
        margin-left: 0;
        flex-direction: row;
        justify-content: space-between;
        padding: 10vh 5vw 7vh 13vw;
        //TODO: Ajuster cette valuer pour les tres grands ecrants
        max-width: 200rem;

        .titleWrapper {
          padding-inline: 2.5rem;
          margin-top: 0;
          margin-inline: 0;
          flex-shrink: 0;

          .icon {
            font-size: 2rem;
          }
          .text,
          .textTwo,
          .textThree {
            font-size: 2rem;
          }
          .buttonMargin {
            margin-top: 5rem;
          }

          .portfolio {
            margin-top: 5rem;
          }
        }

        .portrait {
          padding: 0;
          margin-top: 3rem;
          position: relative;
          left: -3vw;
          img {
            max-height: 90vh;
          }
        }

        .illustration {
          margin: 0;
          margin-right: 5vw;
          img {
            max-height: 75vh;
          }
        }
      }

      .skills {
        margin: 0;
        margin-right: 5vw;

        .skillsCard {
          padding: 4rem 3rem;
          margin-inline: 0;
        }
      }
    }
  }
}

@media (min-width: 80rem) {
  .layout {
    .main {
      .sections {
        .titleWrapper {
          .icon {
            font-size: 2.4rem;
          }
          .text,
          .textTwo,
          .textThree {
            font-size: 2.4rem;
          }
          .buttonMargin {
            margin-top: 5rem;
          }

          .portfolio {
            margin-top: 5rem;
          }
        }
        .illustration {
          img {
            width: auto;
          }
        }
      }
    }
  }
}
///// ::  TEST  :: //////
// @media (min-width: 55rem) {
//   .layout {
//     .main {
//       .sections {
//         flex-direction: row;
//         max-width: 80vw;

//         .titleWrapper {
//           padding-inline: 2.5rem;
//           margin-top: 0;

//           .icon {
//             font-size: 2.4rem;
//           }
//           .text,
//           .textTwo,
//           .textThree {
//             font-size: 2.4rem;
//           }
//           .buttonMargin {
//             margin-top: 5rem;
//           }

//           .portfolio {
//             margin-top: 5rem;
//           }
//         }

//         .portrait {
//         }

//         .illustration {
//           margin: 0;
//         }
//       }

//       .skills {
//         margin: 0;

//         .skillsCard {
//           padding: 4rem 3rem;
//           margin-inline: 0;
//         }
//       }
//     }
//   }
// }
