@use "../../styles/app.scss";

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
  touch-action: none;
  height: calc(var(--vh, 1vh) * 100);

  .main {
    height: 100%;
    width: 100vw;
    overflow: hidden;
    position: relative;
  }
}
