@use "./abstracts/normalize.scss";
// TODO: a garder ? =>
// @use "@/styles/abstracts/variables.scss";

// color test 6699cc cc9966

// TODO LIST //
/********************* 
- Placeholder / Content
- Hamburger + Modal
- Scroll down indicator
- Page Selector
- Animations IN / OUT
- Background Image

- Faire le tri dans les fonts !!!
- Faire le tri sur les images dans le folder assets !



++ Ajuster le background / background Image:
  - je dispose de plusieurs solutions:
    - je peux mettre un background-color: rgba(var(--color-dark-rgb), 1) dans .app sur cette page ou bien dans .backGroundImage sur layout.module.scss

- Decider ou placer le scroll inaicator + reflechir a faire un truc un peu plus quali

- corriger '--font-fira: 'Metrophobic', sans-serif;'
*********************/

// Global Style //

// colors palette => Hex color codes: #d74a49, #183e4b, #1b4552, #8ba0a4 and #eaeaea. //
:root {
  --color-text: #edeef0;
  --color-text-muted: #b0b4ba;
  --color-dark: #2c3e50;
  --color-darker: #111927;
  --color-secondary: #205d9e;
  --color-highlight: #e74c3c;
  --color-text-rgb: 236, 240, 241;
  --color-dark-rgb: 44, 62, 80;
  --color-secondary-rgb: 32, 93, 158;
  --color-highlight-rgb: 231, 76, 60;
}

// colors palette 2 ? => Hex color codes: #2C3E50, #E74C3C, #ECF0F1, #3498DB and #2980B9. //
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: calc(var(--vh, 1vh) * 100);
  background-color: #0d1520;

  // TO ADJUST
  color: var(--color-text);
  --font-text: var(--font-openSans);
  --font-title: var(--font-titleFont);
  --font-button: var(--font-alternates);
  font-family: var(--font-text), sans-serif;

  overscroll-behavior: contain;
  overscroll-behavior-y: contain;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title), sans-serif;
  letter-spacing: 0.318rem;
  line-height: 1;
  // text-transform: uppercase;
  // font-size: clamp(1.6rem, calc(1.2rem + 1vw), 3.6rem);
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

// App Container //
