@use '../../../../styles/app.scss';

.container {
  display: flex;
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  padding-bottom: 9rem;

  // TODO: Creer un mixin pour gerer les tailles max des pages annexes
  @include app.smallScreen() {
    max-width: 58rem;
  }
  @include app.mediumScreen() {
    max-width: 66rem;
  }
  @include app.largeScreen() {
    max-width: 93rem;
  }

  .section {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: -1.5rem;
    margin-left: -1.5rem;

    .wrapper {
      position: relative;
      width: 100%;
      padding-right: 1.5rem;
      padding-left: 1.5rem;

      .title {
        font-weight: 700;
        //TODO: A ajuster
        @include app.responsiveFontSizeTitle;
        text-shadow: 0 7px 7px rgba(2, 11, 22, 0.618);
        margin: 9rem 0 7rem;
      }

      .projectsContainer {
        .project {
          display: flex;
          flex-direction: column;
          gap: 1.4rem;
          width: 100%;
          margin-bottom: 4.4rem;

          @include app.largeScreen() {
            justify-content: space-between;
            align-items: center;
            gap: 4rem;
            &:nth-child(2n) {
              flex-direction: row-reverse;
            }
            &:nth-child(2n + 1) {
              flex-direction: row;
            }
          }

          .figure {
            border-radius: 0.6rem;
            overflow: hidden;
            margin: 0;
            @include app.largeScreen() {
              flex-basis: 50%;
            }
          }
          .description {
            @include app.largeScreen() {
              flex-basis: 50%;
            }
            .name {
              font-size: 2.4rem;
              font-weight: 500;
              // font-size: clamp(2.4rem, calc(1.3rem + 1vw), 5.2rem);
              margin-bottom: 1.6rem;
            }
            .legend {
              font-size: 1.5rem;
              line-height: 1.35;
              color: var(--color-text-muted);
              margin-bottom: 0.6rem;
            }
            .stack {
              // font-size: clamp(1.2rem, calc(0.6rem + 0.8vw), 2.4rem);
              color: var(--color-text-muted);
              margin-top: 1.2rem;

              .tags {
                font-size: 1.4rem;
                font-weight: lighter;
                display: flex;
                flex-wrap: wrap;
                column-gap: 0.6rem;
              }
            }
          }
        }
      }
    }
  }
}

.buttonWrapper {
  margin-top: 2.4rem;
}
