@use "../../styles/app.scss";

.container {
  @include app.sectionContainer;
  margin-top: 1rem;

  .titleWrapper {
    margin-top: 2.8rem;
    @include app.largeScreen() {
      margin-top: 0rem;
    }

    div {
      button {
        margin-top: 1.6rem;
      }
    }
  }

  .illustration {
    padding-top: 2rem;
    transition: 0.9s;

    @include app.smallScreen() {
      height: 45vh;
      img {
        height: 100%;
        width: auto;
      }
    }

    @include app.largeScreen() {
      height: unset;
      flex-basis: 37%;
      img {
        max-height: unset;
        height: auto;
        width: auto;
      }
    }

    img {
      transform: scale(0.318) translate(20rem, -10rem);
      box-shadow: -1px 14px 31px 10px rgba(0, 0, 0, 0.62);
      border-radius: 0.6rem;
      transition: all 0.8s cubic-bezier(0.43, 0.18, 0.45, 1);
    }
  }

  &.active {
    @include app.activeStyle;
    .illustration {
      img {
        // transform: scale(1) translate(0, 0);
        //// temporary
        transform: scale(1);
        ////
      }
    }
  }
}
