@use "../../styles/app.scss";

.container {
  @include app.sectionContainer;
  flex-direction: column;

  .titleWrapper {
    margin-top: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include app.largeScreen() {
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .contact {
    position: relative;
    transform: scale(0.318) translate(20rem, -10rem);
    box-shadow: -1px 14px 31px 10px rgba(0, 0, 0, 0.62);
    border-radius: 0.6rem;
    backdrop-filter: blur(4px);
    transition: 0.9s;
    font-size: 1.4rem;
    margin-top: 1.6rem;

    @include app.mediumScreen() {
      flex-basis: 37%;
      margin-top: 2.4rem;
    }

    @include app.largeScreen() {
      flex-basis: 37%;
      margin-top: 0;
    }
  }

  &.active {
    @include app.activeStyle;
    .contact {
      transform: scale(1);
    }
  }
}
