@use "../../styles/app.scss";

.container {
  @include app.sectionContainer;

  .titleWrapper {
    align-self: center;

    .portfolio {
      font-size: clamp(2.5rem, calc(1.5rem + 3vw), 7rem);
      color: var(--color-highlight);
      margin-top: 2rem;
      text-shadow: none;
      font-family: var(--font-button), monospace;
    }
  }

  .portrait {
    // --opacity: 0.83;
    // opacity: var(--opacity);

    img {
      max-height: calc(var(--vh, 1vh) * 60);
      width: auto;
      transform: app.$image-slide-in;
      transition: all 0.8s cubic-bezier(0.43, 0.18, 0.45, 1);
      animation: fadeIn 1s cubic-bezier(0.43, 0.18, 0.45, 1);
      filter: drop-shadow(6px 23px 12px rgba(0, 0, 0, 0.318));

      @include app.largeScreen() {
        width: 100%;
        max-height: none;
      }
    }
  }

  &.active {
    @include app.activeStyle;
    .portfolio {
      --opacity: 0.99;
      animation: slide-in-text-one 1s cubic-bezier(0.43, 0.18, 0.45, 1);
      animation-fill-mode: forwards;
    }
    .portrait {
      img {
        --opacity: 0.99;
        transform: scale(1);
      }
    }
  }
}
