@use "../../styles/app.scss";

.container {
  @include app.sectionContainer;

  margin-top: 2rem;
  @include app.largeScreen() {
    margin-top: 0;
  }

  .titleWrapper {
    margin-top: -2rem;

    @include app.mediumScreen() {
      align-self: center;
    }

    div {
      button {
        margin-top: 1.6rem;
      }
    }
  }

  .illustration {
    --opacity: 0.99;
    opacity: var(--opacity);
    transition: 0.9s;
    max-height: 53vh;
    display: flex;
    justify-content: center;

    img {
      max-height: 100%;
      height: auto;
      width: 100%;
      transform: scale(0.318) translate(20rem, -10rem);
      box-shadow: -1px 14px 31px 10px rgba(0, 0, 0, 0.62);
      border-radius: 0.6rem;
      transition: all 0.8s cubic-bezier(0.43, 0.18, 0.45, 1);
    }

    @include app.smallScreen() {
      height: 56vh;
      img {
        height: 100%;
        width: auto;
      }
    }

    @include app.largeScreen() {
      height: 67vh;
      flex-basis: 37%;
      img {
        max-height: 100%;
        height: auto;
      }
    }
  }

  &.active {
    @include app.activeStyle;
    .illustration {
      img {
        // transform: scale(1) translate(0, 0);
        //// temporary
        transform: scale(1);
        ////
      }
    }
  }
}
